@model IEnumerable<Entities.Tema>

@{
    ViewBag.Title = "Lista de Temas";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-social-dribbble font-green hide"></i>
                    <span class="caption-subject font-dark bold uppercase">Temas</span>
                </div>
                <div class="actions">
                     <a href="@Url.Action("Create", "Temas")" class="btn btn-outline btn-circle green-meadow btn-sm">
                        <icon class="fa fa-plus"></icon> Agregar
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <table data-toggle="table" data-url="../assets/global/plugins/bootstrap-table/data/data1.json" data-height="299" data-show-refresh="true" data-show-toggle="true" data-show-columns="true" data-search="true">
                    <thead>
                        <tr>
                            <th data-field="id" data-align="right">Nombre</th>
                            <th data-field="name" data-align="center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreTema)
                                </td>

                                <td>

                                    <a href="@Url.Action("Details", "Temas",new {id=item.TemaID})" class="btn btn-circle red btn-sm">
                                        <icon class="fa fa-trash"></icon> Eliminar
                                    </a>

                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
    </div>
    @section Styles{
        <link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />

    }

    @section Scripts {
        <script src="~/Scripts/bootstrap-table.min.js"></script>
        <script src="~/Scripts/table-bootstrap.min.js"></script>

<script src="~/Scripts/jquery-ui.min.js"></script>
<script src="~/Scripts/ui-modals.min.js"></script>

        <script type="text/javascript">
                //acciones automaticas al cargar la pagina
              
                function borrar() {
                    $("#borrar_link")[0].click();
                }
        </script>
    }
